.navbarContainer{
    text-align: center;
}
.navbarContainer button{
    padding: 10px;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 20px 0px;
    
}

.span1{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align:middle;
    background-color: white;
}