.navbarContainer{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbarContainer button{
    padding: 10px;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    width: 33%;
    transition: all ease-in-out 0.3s;
}
.navbarContainer button:hover{
    background-color: black;
    color: white;
}

